# ignore various kinds of temp files
*.swp
*~

# ignore compiled python files
*.pyc

# ignore specific files
MANIFEST
dist/
visualize/output.json
visualize/output.js
visualize/output*
visualize/images
