# ignore various kinds of temp files
*.swp
*~

# ignore compiled python files
*.pyc

# ignore specific files
MANIFEST
dist/
docs/_build
docs/_static
docs/_templates
visualize/output.json
visualize/output.js
visualize/output*
visualize/images
*.egg-info