body{
  overflow: hidden;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .25;
  stroke: steelblue;
}

circle.cluster {
  fill: #1f77b4;
  fill-opacity: .5;
  stroke: steelblue;
}

circle.focus{
  stroke: #98ff98;
  stroke-width:2px;
}

circle.parent:hover,
circle.cluster:hover {
  stroke: #ff7f0e;
  stroke-width: 1px;
}

#property-container{
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
    max-height: 100vh;
    background: white;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  max-height: 100vh;
  top:0;
  left: 0;
}

table{
  table-layout: auto;
  border-collapse: collapse;
  width:100%;
  empty-cells: hide
}

td.prop-column {
  width:60%;
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.count-column {
  width:20%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.perc-column {
  width:20%;
    max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table td.absorbing-column{
  width:100%;
}

a {
  color:black;
}

a:hover {
  color:black;
}

.concept-prop{
  min-width:50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.val-row {
  padding-left:30px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width:1px;
}

.color-ops {
  padding-right: 20%;
  padding-left: 10%; 
}

#numeric-colors {
  width:100%;
}

td.swatch{
  width: 50px;
}

.num-header {
  width: 50%;
}

.num-val {
  width:33.3%;
}

.num-swatch {
  width: 11.1%;
  min-height: 2rem;
}

#filter-form {
  padding-left: 30px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 14px;
}

.axis-label {
    font-family: sans-serif;
    font-size: 18px;
}
